#### Задание 1

Импортируйте библиотеки pandas и numpy.

In [36]:
import numpy as np
import pandas as pd

Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn. Создайте датафреймы X и y из этих данных.

In [37]:
from sklearn.datasets import load_boston
boston = load_boston()
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [38]:
data = boston.data
target = boston.target
feature_names = boston.feature_names

In [39]:
X = pd.DataFrame(data, columns=feature_names)
y = pd.DataFrame(target, columns=['price'])

Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split так, чтобы размер тестовой выборки составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.

In [40]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.

In [41]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.

In [42]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [43]:
y_pred = lr.predict(X_test)

In [44]:
check_test = pd.DataFrame({'y_test': y_test['price'],
                          'y_pred': y_pred.flatten()},
                         columns=['y_test', 'y_pred'])

In [45]:
check_test.head(10)

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
76     20.0  23.146689
316    17.8  17.392124
140    14.0  14.078599
471    19.6  23.036927
500    16.8  20.599433

Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

In [46]:
from sklearn.metrics import r2_score
R2 = r2_score(y_test, y_pred)
R2

0.711226005748496

#### Задание 2

Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.

In [47]:
from sklearn.ensemble import RandomForestRegressor

In [48]:
model = RandomForestRegressor()

Сделайте агрумент n_estimators равным 1000

In [49]:
n_estimators = 1000

max_depth должен быть равен 12 и random_state сделайте равным 42

In [50]:
max_depth = 12
random_state = 42

Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression,
но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0],
чтобы получить из датафрейма одномерный массив Numpy,
так как для класса RandomForestRegressor в данном методе для аргумента y предпочтительно применение массивов вместо датафрейма.

In [51]:
model.fit(X_train, y_train.values[:, 0])

/Users/levsolovev/opt/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

Сделайте предсказание на тестовых данных и посчитайте R2. Сравните с результатом из предыдущего задания.

In [52]:
y1_pred = model.predict(X_test)

In [59]:
check1_test = pd.DataFrame({'y_test': y_test['price'],
                            'y_pred': y_pred.flatten(),
                          'y1_pred': y1_pred.flatten()},
                         columns=['y_test', 'y_pred', 'y1_pred'])

In [60]:
check1_test.head(10)

     y_test     y_pred  y1_pred
173    23.6  28.648960    23.01
274    32.4  36.495014    32.14
491    13.6  15.411193    16.00
72     22.8  25.403213    24.57
452    16.1  18.855280    16.54
76     20.0  23.146689    21.36
316    17.8  17.392124    19.78
140    14.0  14.078599    14.83
471    19.6  23.036927    20.80
500    16.8  20.599433    20.72

In [57]:
R2 = r2_score(y_test, y1_pred)
R2

0.8715056668448936

Напишите в комментариях к коду, какая модель в данном случае работает лучше.

In [61]:
# Вторая модель работает лучше